dinov2_practice.ipynb
understand.ipynb
vit_scratch.ipynb
wandb-practice.ipynb
map_clsloc.txt
data/
datasets/
features_mae_large/
MNIST/
models/
wandb/
__pycache__/
test.ipynb
results/knn_score.py
practical_work.ipynb
test.ipynb
vitmae-nnclr.ipynb
